.cs-navbar-small {
    height: 35px;
    border-bottom: 1px solid var(--border-light);
}   
  
.cs-navbar-small .nav-link {
    font-size: 75%;
    font-weight: 500;
}

.navbar-expand .navbar-nav .nav-link {
    padding-left: 0rem;
    padding-right: 1rem;
}